<ion-header>

  <ion-navbar>
    <ion-buttons left start>
      <button ion-button icon-only (click)="goToMyAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Mes Notes</ion-title>
    <ion-buttons right end>
      <button ion-button icon-only (click)="addNote()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="notes.length < 1" padding>
    <ion-card>
      <ion-card-content text-center color="danger">
        <p>Vous navez rédigé aucune note.</p>
      </ion-card-content>
    </ion-card>

    <button ion-button block (click)="addNote()">Ajouter une note</button>
  </div>

  <ion-list *ngIf="notes.length > 0">
    <ion-item-sliding *ngFor="let note of notes; let i = index">
      <ion-item>
        <ion-icon item-left name="paper"></ion-icon>
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <button item-right ion-button color="primary" (click)="openNote(note)">
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editNote(note.id, i)">
          <ion-icon name="create"></ion-icon>
          Modifier
        </button>
        <button ion-button color="danger" (click)="deleteNote(note.id, i)">
          <ion-icon name="trash"></ion-icon>
          Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
